* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logoState {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

#new-category {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background: mediumpurple;
    cursor: pointer;
}

#new-category:active {
    color: white;
    background: rebeccapurple;
}

#new-category:hover {
    color: white;
    background: rebeccapurple;
}

#new-product {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background: mediumpurple;
    cursor: pointer;
}

#new-product:active {
    color: white;
    background: rebeccapurple;
}

#new-product:hover {
    color: white;
    background: rebeccapurple;
}


.heroes {
    text-align: center;
    background-color: rebeccapurple;
    padding: 50px;
    text-transform: capitalize;
}


.cardDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 50px;
    margin: 50px;
    padding: 20px

}

.card {
    padding: 30px;
    text-align: center;
    border-radius: 10px;

}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card h3 {
    margin-top: 5px;

}

.single-category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 50px;
    margin: 50px;
    padding: 20px
}

.div-btn-category {
    display: flex;
    justify-content: space-between;
}


/*form new category css*/

#section-new-category {
    margin: 1% 25% 25% 25%;
    text-align: center;
    height: 500px;
}

#section-new-category h2 {
    margin-top: 5%;
}

#new-category-form {
    overflow: hidden;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#new-category-form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
    width: 100%;
    padding: 0.7em;
}


#new-category-form label {
    text-align: left;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
}

#btn-submit-category {
    background: mediumpurple;
    padding: 0.7em;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}

#btn-submit-category:active {
    color: white;
    background-color: rebeccapurple;
}

#btn-submit-category:hover {
    color: white;
    background-color: rebeccapurple;
}

/*css for product*/

#product-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    padding: 20px;
    justify-items: center;
}

#product-img {
    box-shadow: 2px 2px 2px 2px lightgray;
    width: 250px;
    align-items: center;

}
#product-details p{
    padding: 15px;
}
#product-details p:nth-child(2){
  color: red;
}
